@import url("https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css");
@import url('https://fonts.googleapis.com/css2?family=Bad+Script&family=IBM+Plex+Sans+Thai:wght@100;200;300;400;500;600;700&display=swap');

body {
    font-size: 16pt;
    max-width: 50em;
    min-width: 300px;
    margin: auto;
    font-family: 'IBM Plex Sans Thai', sans-serif;
    font-weight: 400;
}

header {
    margin-top: 1em;
}
h1 {
    font-size: 3em;
    font-family: 'IBM Plex Sans Thai', sans-serif;
}

h1 em, h2 small {
    font-family: 'Bad Script', cursive;
    font-weight: 400;
    font-style: italic;
    color: brown;
}

header{
    margin-bottom: 1em;
}

#harare {
    text-align: center;
    display: block;
    width: fit-content;
}

#subheading {
    background-color: rgb(0,0,0);
    font-style: bold;
    border-radius: .25em;
    display: block;
    margin: auto;
    padding-right: 1em;
    padding-left: 1em;
}

h2, h3 {
    font-family: 'Bad Script', cursive;
    font-weight: 800;
    background-color: white;
    text-align: center;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}

figure {
    display: inline;
    margin: auto;
    margin-bottom: -1em;
    max-width: 700px;
    float: left;
}

h2#about-the-author {
    background-color: inherit;
} 

p.hidden {
    visibility: hidden;
    height: 0;
    transition: all cubic-bezier(0.645, 0.045, 0.355, 1);
    transition-duration: 500ms;
}

p.shown {
    visibility: visible;
    height: 100%;
    transition: all cubic-bezier(0.645, 0.045, 0.355, 1);
    transition-duration: 1000ms;
}

img {
    max-width: 100%;
    min-width: 200px;
}

footer {
    display: flex;
    padding: .5em;
    border-radius: .24em;
    margin: inherit;
}

footer a.btn {
    display: inline-flex;
    margin: auto;
}

footer h2 {
    color: black;
    margin: auto;
    width: fit-content;
    padding: 0.25em;
}

section.gallery article.card {
    margin-bottom: 2em;
} 

section.gallery p.card-text
{
    margin-top: 0.5em;
}

article.card {
    background-color: rgba(128, 128, 128, 0.25);
}

p.card-text {
    text-align: initial;
    padding: 0.25em;
}

@media (max-width: 460px)
{
    #contact-information{
        visibility: hidden;
        width: 0;
        display: none;
        transition: all cubic-bezier(0.075, 0.82, 0.165, 1) 1000ms;
    }
}

a small {
    font-size: 75%;
    color: black;
}
